<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cat</title>
</head>
<body>
    <h1>the cat list</h1>
    <ul>
    <% for (let allcat of cats) { %>
        <li><%= allcat %></li>
    <% } %>    
    </ul>
</body>
</html>