<%- include('partials/head') %>

<%- include('partials/nav') %>

    <h1>the cat list</h1>
    <ul>
    <% for (let allcat of cats) { %>
        <li><%= allcat %></li>
    <% } %>    
    </ul>
 
 
 
 
<%- include('partials/htmlfoot') %>