<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
</head>
<body>
    <h1>multiple click  option in single button (verson1) <%= 5 + 6 %> <%- 5 + 6 -%></h1>
    <button onclick="alert('hi there'); alert(' another time')" > click me</button>
    <button ondblclick="alert('you clicked for double click')">Double click</button>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio asperiores iure ratione et unde nam tempore, debitis error repellat natus tenetur nulla exercitationem vitae sit numquam tempora minima pariatur deserunt.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia porro veniam expedita eaque, modi fugiat vel assumenda hic inventore est laboriosam, impedit nam velit, cum possimus laborum provident sed iste!
    </p>

    <h1>mouse enter button (verson2)</h1>
    <p>watch console page</p>
    <button id="mouse-enter">mouse enter</button>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis doloribus nam id, inventore consequatur fugiat ipsam, doloremque nostrum temporibus, hic ducimus perferendis. Excepturi, at tempora quis ab impedit eius modi.
    Ut excepturi hic fugit, asperiores, ea nobis nihil accusamus vero unde alias totam ipsam assumenda incidunt id nam placeat aliquam nemo deleniti magni architecto ratione harum recusandae! Eius, unde ipsam?</p>
    <h1>click button Arrow function uses(verson3)</h1>
    <button id="verson3">click v3</button>

    <div id="container" class="container">
        <h1 id="rgb">background color</h1>
        <button id="bg-color-c"> change background-color </button>
    </div>

    
</body>
</html>