<%- include('partials/head') %>

<body>
    <%- include('partials/nav') %>

    <h1>I am sorry,we couldn't find <%= subreddit %> subreddit!! </h1>
    
    
    
    
<%- include('partials/htmlfoot') %>