<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random</title>
</head>
<body>
    <h1>Make a Random num :<%= rand %></h1>
    <h2>The number is <%= rand%2===0 ? 'even' : 'odd' %></h2>

    
</body>
</html>